.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.inputContainer input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 0.4px solid grey;
  font-family: var(--input-username);
  font-size: 30px;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
  width: 30rem;
}

.inputContainer input:focus {
  outline: none;
}
